[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-recommenders = "*"
numpy = "*"
ipykernel = "*"
pyspark = "*"

[dev-packages]

[requires]
python_version = "3.10"
